<section>
    <form [formGroup]="formularioConsulta" (ngSubmit)="onConsultar()">
        <div class="inputCampos">
            <h1><img src="assets/block.ico" alt="Card Logo"> Bloqueo Tarjetas Débito</h1>
        </div>
        <h5>Consultar Cliente</h5>
        <div class="contenedor">
            <div class="inputCampos">
                <sp-at-dropdown ngDefaultControl id="tipoDocumento" formControlName="tipoDocumento" name="1" label="Tipo de documento" 
                [status]="dropdownEstado" placeholder="Selecciona" [options]="options" (elementSelectedAtom)="obtenerValorSel($event)"></sp-at-dropdown>
                    @if(formularioConsulta.get("tipoDocumento")?.invalid && formularioConsulta.get("tipoDocumento")?.touched){
                        @if(formularioConsulta.get("tipoDocumento")?.hasError("required")){
                            <small class="mensajeError">Debe seleccionar un tipo de documento.</small>
                        } 
                    }
            </div>
            <div class="inputCampos">
                <sp-at-input ngDefaultControl id="numeroDocumento" formControlName="numeroDocumento" label="Número de documento" message="" 
                    placeholder="#" type="TEXT" [status]="inputEstado" icon="ico-card-id" minlength="6" required="true"></sp-at-input>
                    @if(formularioConsulta.get("numeroDocumento")?.invalid && formularioConsulta.get("numeroDocumento")?.touched){
                        @if(formularioConsulta.get("numeroDocumento")?.hasError("required")){
                            <small class="mensajeError">Número de documento incorrecto.</small>
                        }
                        @if(formularioConsulta.get("numeroDocumento")?.errors?.['maxlength']){
                            <small class="mensajeError">El numero de documento debe tener un máximo de 10 caracteres.</small>
                        }
                        @if(formularioConsulta.get("numeroDocumento")?.errors?.['minlength']){
                            <small class="mensajeError">El numero de documento debe tener al menos 6 caracteres.</small>
                        }
                    }
            </div>
        </div>
        <div class="boton">
            <button class='sp-at-btn sp-at-btn--primary sp-at-btn--lg' [disabled]="formularioConsulta.invalid || inactivarBotCon"><span
                    class='ico-search'></span>Consultar</button>
            <button class='sp-at-btn sp-at-btn--primary sp-at-btn--lg' [disabled]="!botonVolver" (click)="reloadPage()">
                <span class='ico-retencion-cliente'></span>Nueva consulta</button>
        </div>

        <div class="cards-container">
        @if(agregarComponenteCliente){
            <app-tarjeta-cliente [nombre]="nombreCliente" [columnTable]="columnTable" [rowTable]="rowTable" (tarjetaSeleccionada)="onFilaSeleccionada($event)"
             [ocultarBotonTab]="ocultarBotonTab" (bloqueoConfirmado)="onBloqueoConfirmado($event)" #scrollCardInquiry></app-tarjeta-cliente>
        }
        </div>
        @if(agregarComponenteBloqueo){
            <app-bloqueo-tarjeta [tipoBloqueo]="seleccionBloqueo" [valorBloqueo]="seleccionValBloqueo"  [tarjetaSeleccionada]="tarjetaSeleccionada" 
            (ocultarBotonTab)="onBloquear()" (habilitarBotonTab)="onCerrarModal()" (bloqueoConfirmado)="onBloqueoConfirmado($event)" (iniciarLoader)="abrirLoader()" 
            (cerrarComponente)="onCerrarComponenteBloqueo()" #scrollCardBlocking></app-bloqueo-tarjeta>
        }

        <sp-ml-bm-action-sheet title-component="Selecciona el tipo de bloqueo que deseas realizar" #modalBloqueo [valuesActionSheet]="actionSheetValues" is-action="false" 
        [selectedValue]="seleccionBloqueo" (actionSheetEmitter)="onSeleccionarBloqueo($event)"> </sp-ml-bm-action-sheet>
        
        @if(mostrarLoader){
            <sp-ml-loader #cargar is-open="mostrarLoader" type="shortTime"></sp-ml-loader>
        }
        
    </form>
    <sp-ml-modal #modalNoti icon="warning" title-modal="Alert" sub-title=' ' options-buttons='[{"id":"0","value":"Continuar"}]' (buttonAlertClicked)="modalButtonAction(actionValue)"></sp-ml-modal>
</section>