h5 {
    font-family: Roboto-Medium;
    font-size: 1.1rem;
    line-height: 2.00rem;
    letter-spacing: 0rem;
    border-bottom: #e6e6e6 1px solid;
    font-weight: normal;
    padding: 0px 2px 0px 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.inputCampos {
    width: 50%;
    padding: 10px;
}

.boton {
    width: max-content;
    padding: 10px;
}

.alerta{
    padding: 0px 350px 0px 350px;
}